<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Pet List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Mani Dzīvnieki</h2>
    <hr>

    <p style="text-align: center;">
        <span sec:authentication="principal.username">Lietotājs #1</span>
    </p>
    <hr>

<!--    <div sec:authorize="hasRole('VET')">-->
<!--        <a th:href="@{addForm}" style="float: left; margin-right: 30vw; background-color: mediumseagreen"-->
<!--           class="btn btn-sm mb-3">-->
<!--            Izveidot jaunu dzīvnieku-->
<!--        </a>-->
<!--    </div>-->

    <div sec:authorize="hasRole('VET')">
        <button type="button" class="btn btn-primary mb-3" onclick="openPetFormModal()">
            Izveidot jaunu dzīvnieku
        </button>
    </div>

    <form action="#" th:action="@{/logout}" method="POST" style="float: right; margin-left: 30vw;">
        <button type="submit" class="btn btn-danger">Iziet</button>
    </form>

    <a th:href="@{../visits/list}">Uz vizītēm</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Vārds</th>
                <th>Tips</th>
                <th>Suga</th>
                <th>Vecums</th>
                <th>Piezīmes</th>
                <th>Darbība</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="pet : ${pets}">
                <td th:text="${pet.name}"/>
                <td th:text="${pet.type}"/>
                <td th:text="${pet.species}"/>
                <td th:text="${pet.age}"/>
                <td th:text="${pet.notes}"/>

                <td>
                    <div>
                        <a th:href="@{editForm(petId=${pet.id})}"
                           class="btn btn-sm" style="background-color: mediumseagreen">
                            Rediģēt
                        </a>
                        <a th:href="@{delete(petId=${pet.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Vai esat pārliecināts/a, ka vēlaties dzēst šo dzīvnieku?'))) return false">
                            Dzēst
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modālis, kurā tiks ievietota forma -->
<div class="modal fade" id="petModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dzīvnieka forma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="petForm" action="#" th:action="@{save}" th:object="${pet}" method="POST">
                    <input type="hidden" th:field="*{id}">
                    <label for="petName">Vārds:</label>
                    <input type="text" th:field="*{name}" id="petName" class="form-control mb-4 w-100" placeholder="Dzīvnieka vārds" required>
                    <label for="petType">Tips:</label>
                    <input type="text" th:field="*{type}" id="petType" class="form-control mb-4 w-100" placeholder="Dzīvnieka tips" required>
                    <label for="petSpecies">Suga:</label>
                    <input type="text" th:field="*{species}" id="petSpecies" class="form-control mb-4 w-100" placeholder="Dzīvnieka suga" required>
                    <label for="petAge">Vecums:</label>
                    <input type="text" th:field="*{age}" id="petAge" class="form-control mb-4 w-100" placeholder="Dzīvnieka vecums" required>
                    <label for="petNotes">Piezīmes:</label>
                    <input type="text" th:field="*{notes}" id="petNotes" class="form-control mb-4 w-100" placeholder="Piezīmes par dzīvnieku">
                    <button type="submit" class="btn btn-success">Saglabāt</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript, lai atvērtu modāli -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function openPetFormModal() {
        var myModal = new bootstrap.Modal(document.getElementById('petModal'));
        myModal.show();
    }
</script>
</body>
</html>