<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Pet List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Lietotāji</h2>
    <hr>

    <form action="#" th:action="@{/logout}" method="POST" style="float: right; margin-left: 30vw;">
        <button type="submit" class="btn btn-danger">Iziet</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Lietotājvārds</th>
                <th>E-pasts</th>
                <th>Dzīvnieki</th>
                <th>Vizītes</th>
                <th>Admins</th>
                <th>Darbības</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="pet : ${pets}">
                <td th:text="${user.name}"/>
                <td th:text="${user.email}"/>
                <td>
                    <div>
                        <a th:href="@{editForm(petId=${pet.id})}"
                           class="btn btn-sm" style="background-color: mediumseagreen">
                            Skatīt Dzīvniekus
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a th:href="@{editForm(petId=${pet.id})}"
                           class="btn btn-sm" style="background-color: mediumseagreen">
                            Skatīt vizītes
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a th:href="@{editForm(petId=${pet.id})}"
                           class="btn btn-danger btn-sm">
                            Pievienot/Noņemt tiesības
                        </a>
                    </div>
                </td>


                <td>
                    <div>
                        <a th:href="@{editForm(petId=${pet.id})}"
                           class="btn btn-sm" style="background-color: mediumseagreen">
                            Rediģēt
                        </a>
                    </div>
                    <div>
                        <a th:href="@{delete(petId=${pet.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Vai esat pārliecināts/a, ka vēlaties dzēst šo dzīvnieku?'))) return false">
                            Dzēst
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>